@import "tailwindcss" source(".");

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
#root {
  @apply bg-white dark:bg-gray-950;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
